.item-detail-container{
    display: flex;
}

.image-product{
    width: 500px;
    height: 600px;
}
.description-container{
    margin-left: 10px;
}

@media screen and (max-width: 390px){
    .image-product{
        width: 350px;
        height: 500px;
    }
    img{
        width: 100%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .item-detail-container{
        flex-direction: column;
    }
}