ul{
    padding: 0;
}
.card {
    margin: 2rem auto !important;
    border: 1px solid black;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1370px) {
    .grilla {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 990px) {
    .grilla {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .grilla {
        grid-template-columns: 1fr;
        display: block;
    }

    .m-4 {
        margin: 0  !important;
    }


}
