.fontSize {
    font-size: 1.5rem;
}

.nav-item {
    padding: 0 2rem 0 2rem;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
}
