input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.contenedorCantidad {
    border: 1px solid #7d7d7d;
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 10px;

}
.botonCantidad {
    border: none;
    font-size: 20px;
    color: green;
    font-weight: 500;
    border-radius: 4px;
    background-color: white;
    padding: 0 10px;
}
.botonCarrito{
    background-color: white;
    color: green;
    border-radius: 7px;
    border: 2px solid green;
}
.cantidadInput {
    border: none;
    width: 100px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
}
